.App {
  text-align: center;
}

body{
  background: #bac2ff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.row{
  display: flex;
  width: 90%;
  margin: 0 auto;
  background-color: #eee;
  border-bottom: 2px solid orangered;

}

.NewConfirmed{
  margin: auto;
  color: darkgreen;
  
}
.NewDeaths{
  margin: auto;
  color: orange

}
.TotalDeaths{
  margin-right: 40px;
  color: red;

}
.TotalRecovered{
  margin-right: 45px;
  color: blue;
  

}
.TotalConfirmed{

}

table{
  border-collapse: separate;
  margin: 0 auto;
  width: 90%;
}

table thead tr{
  background: #eeee;
}
table thead tr th{
  padding: 18px 12px;
  text-align: left;
}
table tbody tr{
  background:#eee ;
}

table tbody tr td{
  padding: 18px 12px;
  text-align: left;
}
